body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f6ff;
  color: #1b1b1b;
}

header {
  background-color: #005fa3;
  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

header h1 {
  margin: 0;
  font-size: 2em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 15px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #cce7ff;
}

.beca {
  padding: 40px 10%;
  background-color: #e0efff;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.azul-claro {
  background-color: #c8e4ff;
}

.azul-oscuro {
  background-color: #b0d4ff;
}

.beca h2 {
  color: #004b84;
  border-left: 5px solid #0073e6;
  padding-left: 10px;
}

.beca-contenido {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

.beca img {
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.texto {
  flex: 1;
  min-width: 250px;
}

ul {
  margin-top: 10px;
  padding-left: 20px;
}

footer {
  background-color: #004b84;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

.volver-menu {
  text-align: left;
  margin: 25px 0;
  }
  
.volver-menu a {
  display: inline-block;
  padding: 12px 20px;
  background: #d12828;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  text-decoration: none;
  transition: background .25s, transform .2s;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  margin: 0 0 20px 25px;
}

.volver-menu a:hover {
  background: #7e1d1d;
  transform: translateY(-2px);
}